# =========================
# Frontend
# =========================

frontend/node_modules/
frontend/build/

# =========================
# Backend
# =========================

backend/__pycache__/
backend/**/*.pyc
backend/.env
backend/venv/

# =========================
# Python
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# React
# =========================

node_modules/
build/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log